n8n/telegram_agent.json
{
  "name": "NyayaSim Telegram Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "a90bb6fd-9e90-410a-a53c-2fe19cd59800",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        380,
        240
      ],
      "webhookId": "23fa3b42-1be4-436f-87e3-0d5b12850f3b",
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-token-id",
          "name": "Telegram Bot Credentials"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.message.text}}",
        "systemMessage": "You are the NyayaSim AI Legal Assistant. You help users manage their mock trial courtroom app via Telegram. You can query their practice stats, fetch the leaderboard, browse cases, generate new cases, and write forum posts.\n\nAlways identify the user by the sender's Telegram User ID: {{$json.message.from.id}} and Name: {{$json.message.from.first_name}}. Use the tools provided to query the NyayaSim API. Format your answers in a professional, legal-themed tone with emojis where appropriate."
      },
      "id": "b9ebcb8a-a22a-4310-a292-628d689b6b00",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        600,
        240
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "c1f7bd8f-09e8-466d-961f-4b0e35fd7d00",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        550,
        420
      ],
      "credentials": {
        "openAiApi": {
          "id": "openai-key-id",
          "name": "OpenAI Credentials"
        }
      }
    },
    {
      "parameters": {
        "name": "get_my_stats",
        "description": "Get mock trial win ratio, completed trials, and earned ranking badges for the active user.",
        "url": "={{$env.BACKEND_URL || 'http://localhost:3001'}}/api/stats/me",
        "sendHeaders": true,
        "headersUi": {
          "parameter": [
            {
              "name": "X-Demo-User-Id",
              "value": "={{$node[\"Telegram Trigger\"].json.message.from.id}}"
            },
            {
              "name": "X-Demo-User-Name",
              "value": "={{$node[\"Telegram Trigger\"].json.message.from.first_name}}"
            }
          ]
        }
      },
      "id": "d1a8ce8b-2401-44eb-9d10-85f02bc0f100",
      "name": "Get My Stats Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        780,
        420
      ]
    },
    {
      "parameters": {
        "name": "get_leaderboard",
        "description": "Fetch the global advocate leaderboard ranking.",
        "url": "={{$env.BACKEND_URL || 'http://localhost:3001'}}/api/stats/leaderboard"
      },
      "id": "e2a9df2e-430b-4bf3-911e-92fb71c4c100",
      "name": "Get Leaderboard Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        900,
        420
      ]
    },
    {
      "parameters": {
        "name": "list_cases",
        "description": "List all active case library files available for mock courtroom trials.",
        "url": "={{$env.BACKEND_URL || 'http://localhost:3001'}}/api/cases"
      },
      "id": "f3b8cf3a-4402-4ee1-aa2f-83ac93a8d100",
      "name": "List Cases Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        1020,
        420
      ]
    },
    {
      "parameters": {
        "name": "generate_case",
        "description": "Generate a new AI case file brief. Requires parameters 'caseType' (e.g. 'criminal', 'civil', 'constitutional') and 'difficulty' (e.g. 'beginner', 'intermediate', 'advanced').",
        "method": "POST",
        "url": "={{$env.BACKEND_URL || 'http://localhost:3001'}}/api/ai/generate-case",
        "sendBody": true,
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "caseType",
              "value": "={{$json.caseType}}"
            },
            {
              "name": "difficulty",
              "value": "={{$json.difficulty}}"
            }
          ]
        }
      },
      "id": "a1b2c3d4-e5f6-7a8b-9c0d-1e2f3a4b5c6d",
      "name": "Generate Case Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        1140,
        420
      ]
    },
    {
      "parameters": {
        "name": "create_forum_post",
        "description": "Create a new community forum post. Requires parameters 'title' and 'content'. Optionally accepts 'category' (e.g. 'discussion', 'group', 'challenge').",
        "method": "POST",
        "url": "={{$env.BACKEND_URL || 'http://localhost:3001'}}/api/community/posts",
        "sendHeaders": true,
        "headersUi": {
          "parameter": [
            {
              "name": "X-Demo-User-Id",
              "value": "={{$node[\"Telegram Trigger\"].json.message.from.id}}"
            },
            {
              "name": "X-Demo-User-Name",
              "value": "={{$node[\"Telegram Trigger\"].json.message.from.first_name}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "title",
              "value": "={{$json.title}}"
            },
            {
              "name": "content",
              "value": "={{$json.content}}"
            },
            {
              "name": "category",
              "value": "={{$json.category || 'discussion'}}"
            }
          ]
        }
      },
      "id": "b2c3d4e5-f6a7-8b9c-0d1e-2f3a4b5c6d7e",
      "name": "Create Post Tool",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        1260,
        420
      ]
    },
    {
      "parameters": {
        "chatId": "={{$node[\"Telegram Trigger\"].json.message.chat.id}}",
        "text": "={{$json.output}}",
        "additionalFields": {}
      },
      "id": "8f88bb8f-1a91-4cf1-bf8a-21fd91cd3100",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        860,
        240
      ],
      "credentials": {
        "telegramApi": {
          "id": "telegram-bot-token-id",
          "name": "Telegram Bot Credentials"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_language_model": [
        [
          {
            "node": "AI Agent",
            "type": "ai_language_model",
            "index": 0
          }
        ]
      ]
    },
    "Get My Stats Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Leaderboard Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Cases Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Generate Case Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Create Post Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "nyayasim-telegram-agent-workflow",
  "tags": []
}
